<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>items</key>
    <array>
        <dict>
            <key>assets</key>
            <array>
                <dict>
                    <key>kind</key>
                    <string>software-package</string>
                    <key>url</key>
                    <string>https://dl.dropboxusercontent.com/scl/fi/mvnzgjf1culji1hwdjofb/China-Telecom-Corporation-Limited.ipa?rlkey=0ye14elasbme249o6yq05ktbj&amp;dl=1</string>
                </dict>
                <dict>
                    <key>kind</key>
                    <string>display-image</string>
                    <key>needs-shine</key>
                    <true/>
                    <key>url</key>
                    <string>https://lemoncert.ct.ws/images/logo.png</string>
                </dict>
            </array>
            <key>metadata</key>
            <dict>
                <key>bundle-identifier</key>
                <string>com.chinatelecom.esign</string>
                <key>bundle-version</key>
                <string>5.0.2</string>
                <key>kind</key>
                <string>software</string>
                <key>title</key>
                <string>China Telecom</string>
            </dict>
        </dict>
    </array>
</dict>
</plist>